.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  .arrow {
    color: var(--primary-bg);
    background-color: var(--main-color);
    transition: var(--ts);
    cursor: auto;
    border-radius: 4px;
    padding: 0px 5px;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
  .page {
    color: var(--text-color);
    font-size: 13px;
    font-weight: 300;
    flex: none;
  }
}
