@import 'src/styles/media';

nav {
  --navbar_space: 15px;

  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--primary-bg);

  .mat-drawer {
    width: 70px;
    height: calc(100% - (var(--navbar_space) * 2));
    background-color: var(--blue-color);
    color: var(--text-color);
    font-weight: 500;
    box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.2);
    border: 0px solid transparent;
    border-radius: 50px;
    padding: 10px 0;
    margin: var(--navbar_space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    figure {
      width: 70%;
      aspect-ratio: 1/1;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 50px;

      img {
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
        border-radius: 50%;
        box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.4);
      }
    }

    li {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: var(--ts);

      &:last-child {
        position: absolute;
        bottom: 0;
      }

      i {
        font-size: 22px;
        color: var(--white-color);
        padding: 10px 17px;
        transition: var(--ts);
      }

      &.active {
        background-color: var(--blue-dark-color);

        i {
          font-size: 26px;
        }
      }

      &:last-child {
        // margin-top: auto;
        margin-top: 150px;
      }

      &:hover {
        background-color: var(--blue-dark-color);

        i {
          font-size: 26px;
        }
      }
    }
  }

  .mat-drawer-container {
    width: 100%;
    height: 100%;
    background-color: transparent;

    .side-bar-content {
      width: calc(100% - (var(--navbar_space) * 4));
      min-height: calc(100% - (var(--navbar_space) * 2));
      background-color: var(--secondary-bg);
      margin: var(--navbar_space) var(--navbar_space) var(--navbar_space) auto;
      box-shadow: var(--bs);
      border: 0px solid transparent;
      border-radius: 10px;
      padding: var(--navbar_space);
    }
  }
}
