<nav>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <figure>
        <img src="../../../assets/images/user_photo.png" alt="" />
      </figure>

      <div class="navigation alt-bar">
        <button mat-button routerLink="/users" routerLinkActive="active" matTooltip="Usuários"
          matTooltipPosition="after">
          <i icon="users"></i>
        </button>

        <button mat-button routerLink="/teams" routerLinkActive="active" matTooltip="Times" matTooltipPosition="after">
          <i icon="teams"></i>
        </button>

        <button mat-button routerLink="/variants" routerLinkActive="active" matTooltip="Variantes"
          matTooltipPosition="after">
          <i icon="variants"></i>
        </button>

        <button mat-button routerLink="/sections" routerLinkActive="active" matTooltip="Sessões"
          matTooltipPosition="after">
          <i icon="sections"></i>
        </button>

        <button mat-button routerLink="/categorys" routerLinkActive="active" matTooltip="Categorias"
          matTooltipPosition="after">
          <i icon="categorys"></i>
        </button>

        <button mat-button routerLink="/filters" routerLinkActive="active" matTooltip="Filtros"
          matTooltipPosition="after">
          <i icon="filters"></i>
        </button>

        <button mat-button routerLink="/articles" routerLinkActive="active" matTooltip="Artigos"
          matTooltipPosition="after">
          <i icon="articles"></i>
        </button>

        <button mat-button routerLink="/banners" routerLinkActive="active" matTooltip="Banners"
          matTooltipPosition="after">
          <i icon="banners"></i>
        </button>
      </div>


      <button class="logout" mat-button (click)="logout()">
        <i icon="logoff"></i>
      </button>
    </mat-drawer>
    <mat-drawer-content>
      <div class="side-bar-content">
        <router-outlet *ngIf="!loading"></router-outlet>
        <page-loading *ngIf="loading"></page-loading>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</nav>