<nav>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <figure>
        <img src="../../../assets/images/user_photo.png" alt="" />
      </figure>

      <li routerLink="/users" routerLinkActive="active">
        <i icon="users"></i>
      </li>

      <li routerLink="/teams" routerLinkActive="active">
        <i icon="teams"></i>
      </li>

      <li routerLink="/variants" routerLinkActive="active">
        <i icon="variants"></i>
      </li>

      <li routerLink="/categorys" routerLinkActive="active">
        <i icon="categorys"></i>
      </li>

      <li>
        <i icon="logoff" (click)="logout()"></i>
      </li>
    </mat-drawer>
    <mat-drawer-content>
      <div class="side-bar-content">
        <router-outlet *ngIf="!loading"></router-outlet>
        <page-loading *ngIf="loading"></page-loading>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</nav>
