<h1 matDialogTitle>{{data?.id ? 'Editar' : 'Adicionar'}}</h1>

<form [formGroup]="form" (ngSubmit)="handleFormSubmit()">
  <mat-dialog-content>
    <div class="card-input">
      <div class="image">
        <img *ngIf="form.value.url" [src]="form.value.url" alt="">
        <label for="image">Alterar imagem</label>
      </div>
      <input type="file" inputFile (upload)="handleImageSelect($event)" id="image" name="image" accept="image/*">
    </div>

    <div class="card-input">
      <label for="name">Nome do time</label>
      <input placeholder="Nome do time" id="name" name="name" formControlName="name">
    </div>
  </mat-dialog-content>

  <mat-dialog-actions [attr.align]="'end'">
    <button type="button" mat-button matDialogClose>Cancelar</button>
    <button type="submit" class="primary" mat-button>Confirmar</button>
  </mat-dialog-actions>
</form>