.table-container {
  .mat-table {
    tr {
      .mat-cell {
        &:nth-child(1) {
          width: 80px !important;
        }
      }

      th.mat-header-cell {
        &:nth-child(1) {
          max-width: 60px;
        }
      }
      td.mat-cell {
        &:nth-child(1) {
          max-width: 100px;
        }
        figure {
          display: flex;
          justify-content: center;
          align-content: center;
          padding: 5px 0;

          img {
            width: 40px;
            aspect-ratio: 1/1;
            object-fit: contain;
          }
        }

        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          gap: 0 15px;

          #delet {
            font-size: 18px;
            color: var(--red-color);
          }

          #edit {
            font-size: 18px;
            color: var(--yellow-color);
          }
        }
      }
    }
  }
}

.pagination-container {
  width: 100%;
  overflow: auto;
  padding: 0 15px 15px;
  border-radius: 5px;

  display: flex;
  justify-content: flex-end;
}
